
<script> 
import { scaleLinear} from 'd3-scale';
export let dataframe=null;
export let choice=null;
export let type=null;
export let city=null;
let y=10;
let str=null;
let str1=null;

$: if (choice, city){

let xScale = scaleLinear()
    .domain([0, 743])
    .range([0, 400]);

let yScale = scaleLinear()
    .domain([0, 1])
    .range([0, 10]);

let yScaler = scaleLinear()
    .domain([0, 1])
    .range([0, 10]);

    str="0,0"
    str1="0,0"

    if (choice=="all"){
        y=dataframe.filter(element =>  element.city ==city).reduce((acc, shot) => acc = acc > shot.total ? acc : shot.total, 0);
        console.log(dataframe[0]);
    }
    else {
        y=dataframe.filter(element => element.build==type && element.city ==city).reduce((acc, shot) => acc = acc > shot.total ? acc : shot.total, 0);
    }

    xScale = scaleLinear()
    .domain([0, 743])
    .range([0, 400]);

    yScale = scaleLinear()
    .domain([0, y])
    .range([0, 10]);

    yScaler = scaleLinear()
    .domain([0, y])
    .range([0, -10]);

    dataframe.filter( element => element.build==type && element.city ==city).forEach(function (item, index) {
    str=str.concat( ' ', xScale(item.time), ',', yScale(item.total))
    str1=str1.concat( ' ', xScale(item.time), ',', yScaler(item.total)) });
    str=str.concat( ' ', xScale(743), ',', yScale(0))
    str1=str1.concat( ' ', xScale(743), ',', yScale(0))


}


</script>



<polyline points={str}/>
<polyline points={str1}/>
<line x1=0 y1=0 x2=400 y2=0 />
<text x="410" y=5 > {type} </text>

<style>
      line {
    stroke: black;
    stroke-width: 0.2;
  }
</style>