<script>
  export let city="Baltimore";
  export let choice="all";
</script>

<div class="row">
<div class="col">
    City<br>
    <label style="font-size: 12px">
        <input type=radio bind:group={city} name="city" value={"Baltimore"}>
        Baltimore
    </label><br>
    
    <label style="font-size: 12px">
        <input type=radio bind:group={city} name="city" value={"Chicago"}>
        Chicago
    </label><br>
    
    <label style="font-size: 12px">
        <input type=radio bind:group={city} name="city" value={"Los Angeles"}>
        Los Angeles
    </label>
    </div>
    
<div class="col">
    Scaling<br>
    <label style="font-size: 12px">
        <input type=radio bind:group={choice} name="choice" value={"all"}>
        Across all building types
    </label><br>
    
    <label style="font-size: 12px">
        <input type=radio bind:group={choice} name="choice" value={"one"}>
        Within building types
    </label><br>
    </div>    
</div>