<script>
  
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Radio from "./_design_1_radio.svelte";
  import Plot from "./_design_1_plot.svelte";

  let city="Baltimore";
  let choice="all";
  let datapoints=null;
  const types=["FullServiceRestaurant", "Hospital", "LargeHotel", "LargeOffice", "MediumOffice", "MidriseApartment", "OutPatient", "PrimarySchool", "QuickServiceRestaurant", "SecondarySchool", "SmallHotel", "SmallOffice", "Stand-aloneRetail", "StripMall", "SuperMarket", "Warehouse"];


  // Size and margins
  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  onMount(async () => {
    const data = await json("/data/hourly_heating_december.json");
    datapoints = data; 
  });  

  function filtering(datapoints){
    let dataframe=[];
    datapoints.forEach(function (item, index) {
      dataframe.push({time: (item["day"]-1)*24+item["hour"], total: item["total_heating_energy"], city: item["city"], build: item["buildingtype"]});
    });
    return dataframe
  }



  </script>



{#if !datapoints}
  <p>Loading the data, please wait...</p>
{:else}

<div transform="translate(0,150)">
  <div transform="translate(0,50)">
    <Radio bind:city={city} bind:choice={choice}/>  
  </div>
  <svg {width} {height}>
    <g transform="translate(0, 50)">
      {#each types as type, i}
      <g transform="translate(0,{(i*35)})">
          <Plot dataframe={filtering(datapoints)} choice={choice} type={type} city={city} />
      </g> 
      {/each}
    </g>
  </svg>
</div>

{/if}


<style>

</style>



