<script>
  import { scaleLinear} from 'd3-scale'
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let datapoints = null;
  let heat = [];
  let cool = [];

  var chic_heat_str="";
  let chic_cool_str="";
  let bal_heat_str="";
  let bal_cool_str="";
  let la_heat_str="";
  let la_cool_str="";
  const xScale = scaleLinear()
  .domain([0, 2500000])
  .range([0, 60]);

  onMount(async () => {
    const data = await json("/data/daily_heating_cooling.json");
    datapoints = data;
  var cities = ["Chicago", "Baltimore", "Los Angeles"];
  cities.forEach(function (item, index) {
    for (let i = 1; i < 13; i++) {
      var data_filter = datapoints.filter( element => element.city ==item && element.month ==i)
      heat.push({city: item, month: i, heating: data_filter.map(bill => bill.heating).reduce((acc, amount) => acc + amount)});
    }
  });
  cities.forEach(function (item) {
    for (let i = 1; i < 13; i++) {
      var data_filter = datapoints.filter( element => element.city ==item && element.month ==i)
      cool.push({city: item, month: i, cooling: data_filter.map(bill => bill.cooling).reduce((acc, amount) => acc + amount)});
    }
  });

  heat.forEach(function(item){
    if(item.city=="Chicago"){
      chic_heat_str = chic_heat_str.concat(' ', xScale(item.heating)*Math.cos(-Math.PI/2+2*Math.PI/12*item.month), ', ', xScale(item.heating)*Math.sin(-Math.PI/2+2*Math.PI/12*item.month)) ;

    }
  });
  cool.forEach(function(item){
    if(item.city=="Chicago"){
      chic_cool_str = chic_cool_str.concat(' ', xScale(item.cooling)*Math.cos(-Math.PI/2+2*Math.PI/12*item.month), ', ', xScale(item.cooling)*Math.sin(-Math.PI/2+2*Math.PI/12*item.month)) ;

    }
  });

  heat.forEach(function(item){
    if(item.city=="Baltimore"){
      bal_heat_str = bal_heat_str.concat(' ', xScale(item.heating)*Math.cos(-Math.PI/2+2*Math.PI/12*item.month), ', ', xScale(item.heating)*Math.sin(-Math.PI/2+2*Math.PI/12*item.month)) ;

    }
  });
  cool.forEach(function(item){
    if(item.city=="Baltimore"){
      bal_cool_str = bal_cool_str.concat(' ', xScale(item.cooling)*Math.cos(-Math.PI/2+2*Math.PI/12*item.month), ', ', xScale(item.cooling)*Math.sin(-Math.PI/2+2*Math.PI/12*item.month)) ;

    }
  });

  heat.forEach(function(item){
    if(item.city=="Los Angeles"){
      la_heat_str = la_heat_str.concat(' ', xScale(item.heating)*Math.cos(-Math.PI/2+2*Math.PI/12*item.month), ', ', xScale(item.heating)*Math.sin(-Math.PI/2+2*Math.PI/12*item.month)) ;

    }
  });
  cool.forEach(function(item){
    if(item.city=="Los Angeles"){
      la_cool_str = la_cool_str.concat(' ', xScale(item.cooling)*Math.cos(-Math.PI/2+2*Math.PI/12*item.month), ', ', xScale(item.cooling)*Math.sin(-Math.PI/2+2*Math.PI/12*item.month)) ;

    }
  });
  
  });

  

</script>


{#if heat==[] || cool==[]}
	<p>Loading the data</p>
{:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <circle cx="100" cy={innerHeight / 2} r="60" />
    <line x1="40" y1={innerHeight / 2} x2="160" y2={innerHeight / 2} />
    <line
      x1="100"
      y1={innerHeight / 2 - 60}
      x2="100"
      y2={innerHeight / 2 + 60}
    />
    <circle cx="280" cy={innerHeight / 2} r="60" />
    <line x1="220" y1={innerHeight / 2} x2="340" y2={innerHeight / 2} />
    <line
      x1="280"
      y1={innerHeight / 2 - 60}
      x2="280"
      y2={innerHeight / 2 + 60}
    />
    <circle cx="460" cy={innerHeight / 2} r="60" />
    <line x1="400" y1={innerHeight / 2} x2="520" y2={innerHeight / 2} />
    <line
      x1="460"
      y1={innerHeight / 2 - 60}
      x2="460"
      y2={innerHeight / 2 + 60}
    />
    <text x="93" y="45" font-size="14px">12</text>
    <text x="273" y="45" font-size="14px">12</text>
    <text x="453" y="45" font-size="14px">12</text>
    <text x="96" y="192" font-size="14px">6</text>
    <text x="276" y="192" font-size="14px">6</text>
    <text x="456" y="192" font-size="14px">6</text>
    <text x="26" y="120" font-size="14px">9</text>
    <text x="206" y="120" font-size="14px">9</text>
    <text x="386" y="120" font-size="14px">9</text>
    <text x="166" y="120" font-size="14px">3</text>
    <text x="346" y="120" font-size="14px">3</text>
    <text x="526" y="120" font-size="14px">3</text>
    <text x="69" y="18" font-size="18px">Chicago</text>
    <text x="242" y="18" font-size="18px">Baltimore</text>
    <text x="413" y="18" font-size="18px">Los Angeles</text>
    <polygon class="heat" transform="translate(100,{innerHeight / 2})" points={chic_heat_str}/>
    <polygon class="cool" transform="translate(100,{innerHeight / 2})" points={chic_cool_str}/>
    <polygon class="heat" transform="translate(280,{innerHeight / 2})" points={bal_heat_str}/>
    <polygon class="cool" transform="translate(280,{innerHeight / 2})" points={bal_cool_str}/>
    <polygon class="heat" transform="translate(460,{innerHeight / 2})" points={la_heat_str}/>
    <polygon class="cool" transform="translate(460,{innerHeight / 2})" points={la_cool_str}/>
    <line class="red"
    x1="130"
    y1={innerHeight -10}
    x2="160"
    y2={innerHeight -10}
  />
    <text x="170" y={innerHeight-5} font-size="15px">Heating</text>
    <line class="blue"
    x1="340"
    y1={innerHeight -10}
    x2="370"
    y2={innerHeight -10}
  />
    <text x="380" y={innerHeight-5} font-size="15px">Cooling</text>
</svg>
{/if}

	


<style>
  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 1.5;
  }
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .red{
    stroke: red;
    stroke-width: 1;
  }
  .blue{
    stroke: blue;
    stroke-width: 1;
  }
  line {
    stroke: black;
    stroke-width: 1.5;
  }
  .heat {
        fill: red;
        stroke: red;
        stroke-width: 1px;
        fill-opacity: 0.3;
    }
    .cool {
        fill: blue;
        stroke: blue;
        stroke-width: 1px;
        fill-opacity: 0.3;
    }
    text {
      font-family: "Times New Roman"
    }
</style>
