<script>
  let current = "";
</script>

<style>
.btn1{
  color: white;
	background-color: deepskyblue;
}
button {
  color: white;
	background-color: gray;
	padding: 5px 15px;
	border-radius: 7px;
}

</style>

<!-- We will cover buttons in week 7! -->
<button class:btn1={current == "messi"} on:click={() => (current = "messi")}>
	Messi
</button>
<button class:btn1={current == "ronaldo"} on:click={() => (current = "ronaldo")}>
	Ronaldo
</button>
<button class:btn1={current == "neymar"} on:click={() => (current = "neymar")}>
	Neymar
</button>