<script>

  export let year = [];
  export let continents = ["europe", "asia", "americas", "africa"];
  export let continent= [];
  let button="Start";
  let running = false;

  setInterval(function() {
    if(running==true) {
      year++;
      year=year%214;
    }
  },50);
 

  function start_stop(){
      running =!running;
    }


  function reset() {
    year = 0;
    running = false;
    button = "Start";
  }


</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click="{start_stop}">{running == false ? "Start": "Stop"}</button>
    <button type="button" class="btn btn-primary" on:click="{reset}">Reset</button>
  </div>
  <div class="col-5">
    Year: {year + 1800}
    <input 
      type="range" 
      class="form-range"
      min="0" 
      max="214"
      step="1"
      bind:value={year}>
  </div>
  <div class="col-3">
    <select class="form-select" bind:value={continent}>
      <option selected value="All">All</option>
      {#each continents as c}
      <option value="{c}">{c}</option>
      {/each} 

    </select>
  </div>
  
</div>
