<script>
    let count = 0;
  </script>

  <style>
  </style>
  
  <div>
    <button class="btn btn-primary" on:click={() => (count=count+1)}>
		{#if count==1}
      Clicked 1 time
 		{:else}
      Clicked {count} times
    {/if}
      
    </button>
		<button class="btn btn-danger" on:click={() => (count=0)}>
      Reset
    </button>
  

  </div>