<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
		
  let col = "darkred";
		
	let opacity = [
   0.3,0.3,0.3,0.3,0.3
  ];
		
	function settingchanger(index) {
    if (index > -1) {
      opacity[index]=opacity[index]+0.7
  }
    if (index <= -1) {
      col = "darkgreen";
    }
}
  $: settingchanger(index);

  setInterval(() => {
    index = index - 1
  }, 1000)
	


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
		{#each points as point, index}		
    <circle cx={point} cy={(innerHeight/2)+margin.top} r=10 fill={col} opacity={opacity[index]} />
		{/each}
  </g>
</svg>
