<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  let year = 0;
  let continent = "All";

  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function filtering(year, continent) {
    let selected = data[year]['countries'];
    if (continent!="All") {
      return selected.filter(d => d.continent == continent);
    } else {
      return selected;
    }
  }

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={filtering(year,continent)} />
    <Controls bind:year={year} bind:continent={continent}/>
  </div>
{/if}
