<script>
  // Dimensions
  import { scaleLinear, scaleLog, scaleOrdinal } from 'd3-scale';
  import {axisBottom, axisLeft} from 'd3-axis';
	import {select} from 'd3-selection';
  import {extent} from 'd3-array'
  import {schemeDark2} from 'd3-scale-chromatic'

	export let data =[];
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const scaly=  scaleLinear()
	.range([innerHeight, 0])
	.domain([0,90]);
	
	const scalx = scaleLog()
	.range([0, innerWidth])
	.domain([300,150000]);

  const pop = scaleLinear()
	.range([5, 10])
	.domain(extent(data, d => d.population));

  const color=scaleOrdinal()
	.domain(data.map(x => x.continent))
	.range(schemeDark2)

  const axleft= axisLeft(scaly);
	const axbottom=axisBottom(scalx).tickValues([400, 4000, 40000]).tickFormat(d => ("$"+d));
	
	
	const blah4 = function() { return axleft(select("#plot4"));};
	const blah3 = function() { return axbottom(select("#plot3"));};
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as circle}
    {#if circle.income >0 && circle.life_exp > 0 }
    <circle cx={scalx(+circle.income)} cy={scaly(+circle.life_exp)} r={pop(+circle.population)} fill={color(circle.continent)} opacity=0.7 />
    {/if}
    {/each}
  </g>
  <g id="plot3" use:blah3 transform="translate({margin.left}, {innerHeight+margin.top})">
    <text x=270 y=40 class="rotate"> GDP per Capita </text>
  </g>
	  <g id="plot4" use:blah4 transform="translate({margin.left}, {margin.top})">
			<text x=-90 y=-30 class="rotate" transform="rotate(270)"> Life Expectancy </text>
  </g>
  <text x=515 y=335 font-size= 2.2em opacity=0.4> 1800 </text>
  <text x=150 y=50 font-size= 2.25em > Gapminder Scatterplot </text>
</svg>


<style>
  text.rotate {
	display: inline-block;
	fill: currentcolor;
  font-size: 1.7em;
}
</style>
