<script>
  // Dimensions
  import { scaleLog } from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const logScale = scaleLog()
  .domain([1, 10])
  .range([0, 790]);
  const axis=axisBottom(logScale);
  // d3.Array
  const values = [2, 4, 6, 7, 9];
	const blah = function() { return axis(select("#plot"));};
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as point}
    <circle cx={logScale(point)} cy=45 r=10 fill=steelblue />
    {/each}
  </g>
  <g id="plot" use:blah transform="translate(5,70)">
  </g>
	<text x="385" y="100" class="text">x label</text>

</svg>

<style>
	.text{
		color:currentColor;
		font-size:11px;
		margin: auto;
	}
</style>