<script>
	import { scalePoint, scaleLinear } from 'd3-scale';
  import {axisBottom, axisLeft} from 'd3-axis';
	import {select} from 'd3-selection';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
	const scaley=  scaleLinear()
	.range([innerHeight, 0])
	.domain([0,3]);
	
	const scalex = scalePoint()
	.range([0, innerWidth])
	.domain(data.map(x => x.service))
	.padding(0.6);
	
	const axisleft= axisLeft(scaley);
	const axisbottom=axisBottom(scalex);
	
	
	const blah2 = function() { return axisleft(select("#plot2"));};
	const blah1 = function() { return axisbottom(select("#plot1"));};
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
		{#each data as point}
    <rect x={scalex(point.service)-35} y={scaley(point.viewers)} width="70" height={innerHeight-scaley(point.viewers)} fill=steelblue />
    {/each}
		
  </g>
  <g id="plot1" use:blah1 transform="translate({margin.left}, {innerHeight+margin.top})">
  </g>
	  <g id="plot2" use:blah2 transform="translate({margin.left}, {margin.top})">
			<text x=-95 y=-30 class="rotated" transform="rotate(270)"> Viewers (Million)</text>
  </g>
	
</svg>


<style>
  text.rotated {
	display: inline-block;
	fill: currentcolor;
  font-size: 0.95em;
}
</style>