<script>
import { onMount } from 'svelte'
import {json} from 'd3-fetch'
import Scatter from './_ex_7_scatterplot.svelte';

let datapoints = null;
onMount(async () => {
    const data = await json('/data/gapminder.json');
    console.log(data)
    datapoints = data[0]["countries"] ;
}

);



</script>


{#if datapoints==null}
	<p>Loading the data</p>
{:else}
<Scatter data={datapoints}/>
{/if}
	

